//renuo card
$blurred-color-1: rgba(0, 0, 0, .1);
$blurred-color-2: rgba(0, 0, 0, .3);

.renuo-card-bg {
  transition: transform .3s ease;
}

.button-arrow {
  transition: padding .3s ease;
}

.renuo-card:hover {
  .button-arrow {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .renuo-card-bg {
    transform: scale(1.05);
  }
}

//image card

.image-card {
  transition: transform .4s ease;
  width: 18rem;
}

.image-card:hover {
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
}

.blurred-background {
  backdrop-filter: blur(5px);
  background-color: $blurred-color-1;
}

.blurred-background-button {
  background-color: $blurred-color-2;
}
